$luhublue: #224cff;
$luhublue-opacity-med: rgba(34, 76, 255, 0.8);
$luhublue-opacity-light: rgba(34, 76, 255, 0.6);

$darkgrey: #262626;
$darkgrey-opacity-med: rgba(38, 38, 38, 0.8);
$darkgrey-opacity-light: rgba(38, 38, 38, 0.6);

$lightgrey: #7f7f7f;

$grey: #555;

$black: #000;

$white: #fff;
$white-opacity-med: rgba(255,255,255, 0.7);
$white-opacity-light: rgba(255,255,255, 0.4);

$redError: rgba(255,43,43,0.8);
