@import 'lead';
@import 'fonts';
@import 'colors';

//Services description content

@mixin services-content-container {
  margin-top: 46px;
}

@mixin services-content-container-tablet {
  margin-top: 32px;
}

@mixin services-content-container-mobile {
  margin-top: 26px;
}

//Blog post content

@mixin post-container {
    padding-top: 60px;
}

@mixin post-container-tablet {
    padding-top: 44px;
}

@mixin post-categories-container {
  @include lead-default;
}

@mixin post-categories-container-tablet {
  @include lead-default-tablet;
}


//Skills

@mixin skills-container {
  height: 320px;
  color: $white;
  padding-top: 68px;
  width: 80%;
  margin: 0 auto;
}

@mixin skills-container-tablet {
  height: 400px;
  padding-top: 48px;
  width: 90%;
}

@mixin skills-container-mobile {
  padding-top: 40px;
}

@mixin hero-container {
  color: $white;
}
