@import 'colors';
@import 'fonts';


//Hero

@mixin hero-heading-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 62px;
  color: $white;

}

@mixin hero-heading-container-tablet {
  padding-top: 54px;
}

@mixin hero-heading-container-mobile {
  padding-top: 40px;
}

//Connect

@mixin connect-heading-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 40px;
  color: $white;
}

@mixin connect-heading-container-tablet {
  padding-top: 54px;
  padding-bottom: 32px;
}

@mixin connect-heading-container-mobile {
  padding-top: 40px;
  padding-bottom: 24px;
}

//Post Component

@mixin post-heading-container {
  padding-bottom: 56px;
  font-family: $saira-extra-condensed;
  letter-spacing: 2px;

}

@mixin post-heading-container-tablet {
  padding-bottom: 32px;
}
