@import 'partials/base';
@import 'modules/base';


html {
    height: 100%;
    margin: 0;
}

body {
  position: relative;
  min-height: 100%;
  padding-top: 124px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-family: $ubuntu;
  font-weight: 100;
  -ms-webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

/*h1, h2, h3, h4, h5, h6 {
    font-family: 'Atrament';
}*/

a {
  color: #244cff;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-webkit-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

}

a:hover, a:focus, a:active {
  color: rgba(34, 76, 255, 0.7);
  text-decoration: none;
}

h1 {
    font-size: 36px;
    line-height: 40px;
}

h2 {
    font-size: 30px;
    line-height: 40px;
}

h3 {
    font-size: 24px;
    line-height: 40px;
}

h4 {
    font-size: 18px;
    line-height: 20px;
    font-weight: 200;
}

h5 {
    font-size: 14px;
    line-height: 20px;
}

h6 {
    font-size: 12px;
    line-height: 20px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.jumbotron {
  position: relative;
  background-color: #fff;
  margin: 0 auto;
  padding-top: 0;
}

.jumbotron.hero .heading-container {
  @include hero-heading-container;
}

.bloglist-component .heading-container {
  padding-top: 42px;
  margin: 0 auto;
  padding-bottom: 50px;
  color: #fff;
}

.jumbotron.services-home .heading-container {
  color: #262626;
}



.jumbotron.get-in-touch .heading-container {
  padding-top: 42px;
  margin: 0 auto;
  color: #262626;
}

.get-in-touch .spacer {
  margin-bottom: 25px;
}

.jumbotron.get-in-touch .sub-heading {
  padding-top: 6px;
  padding-bottom: 10px;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -1px;
  margin: 0 auto;
  text-shadow: 1px 1px 2px rgba(0,0,0,.15);
}

.jumbotron .lead {
  @include lead-default;
}

.jumbotron.get-in-touch .lead {
  @include lead-jumbotron-regular;
}

.jumbotron.get-in-touch {
  color: $darkgrey;
}




.jumbotron.get-in-touch .heading {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0,0,0,.2);
}

.bloglist-component .divider hr {
  background-color: #fff;
  box-shadow: 1px 1px 2px rgba(0,0,0,.3);
  width: 130px;
}


.bloglist-component .sub-heading {
  font-size: 32px;
  padding: 10px 0;
  line-height: 40px;
  letter-spacing: -1px;
  color: #fff;
  margin: 0 auto;
  text-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

.jumbotron.services-home .sub-heading {
  color: #262626;
  text-shadow: 1px 1px 2px rgba(0,0,0,.1);
}

.jumbotron.feature .lead {
  @include lead-feature;
}



.jumbotron.hero .heading {
  @include hero-h1;
}

.jumbotron.hero .sub-heading {
  @include hero-h2;
}

// .jumbotron .container .lead {
//   color: #fff;
//   font-size: 24px;
//   margin-bottom: 12px;
//   width: 80%;
//   margin: 0 auto;
// }

.jumbotron.hero .callout-container .callout {
  width: 80%;
  margin: 0 auto;
}

.jumbotron.hero {
  @include hero-container;
}

/*.jumbotron.hero .callout-container .lead {
  font-size: 32px;
  line-height: 40px;
  padding-top: 6px;
  font-weight: 500;
  margin: 0 auto;
  color: #fff;
  letter-spacing: -1px;
}*/

.jumbotron.hero .callout-container,
.jumbotron.feature .callout-container {
  padding-top: 100px;
  padding-bottom: 80px;

}

.jumbotron.get-in-touch .container {
  padding-bottom: 20px;
  width: 80%;

}



.skills {
  @include skills-container;
}


.skills > ul {
  list-style-type: none;
  align-items: center;
  padding: 0;
}

.skills li {
  justify-content: center;
  padding: 0 14px;
}



.skills li:nth-child(3n+1) {
  clear: left;
}

.skills li h3 {
  @include skills-h3;
}

.divider {
  vertical-align: middle;
  margin: 48px 0 40px 0;
}

.divider > hr {
  margin: 0 auto;
  height: 6px;
  background-color: #224cff;
  width: 30%;
  border-top: none;

}

.services-content-container {
  @include services-content-container;
}

.blog-content p {
  @include lead-default;
}

// .jumbotron.feature .content-container {
//   @include feature-content-container;
// }



.jumbotron.hero .heading-container {
  @include hero-heading-container;
}

.jumbotron.get-in-touch .container {
  margin: 0 auto;
  color: #262626;
  padding-top: 62px;
}


.jumbotron .container {
  text-align: center;
}

.jumbotron.bloglist-component .container {
  text-align: left;
}

.callout-container > .callout {
  text-align: center;
}

// .jumbotron.get-in-touch .lead {
//   font-size: 24px;
//   margin-bottom: 12px;
//   color: #262626;
// }



.callout > .lead {
  margin-top: 32px;
}

/*.icon-wrapper {
  z-index: 2;
  position: absolute;
  width: 100%;
  padding: 20px 0;


}

.icon-wrapper i {
  justify-content: center;
  font-size: 400px;
  color: rgba(255, 255, 255, 0.3);
}*/



/*.hero .button i {
  justify-content: center;
  font-size: 120px;
  color: rgba(255, 255, 255, 0.3);
}*/

.bloglist-component .list-container a {
  color: #262626;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-webkit-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.bloglist-component .list-container a:hover,
.bloglist-component .list-container a:focus {
  color: rgba(34, 76, 255, 0.8);
  /*color: #224cff;*/

}

.bloglist-component .list-container {
  padding-top: 18px;
}

.list-container .post-title {
  @include post-listing-title;
}

.list-container .post-subtitle {
  @include post-listing-subtitle;
}

.bloglist-component .heading-container {
  padding-top: 42px;
  padding-bottom: 60px;

}

.post-meta {
  font-size: 20px;
  color: #7f7f7f;
  margin-top: 24px;
  font-weight: 300;
}

.post-meta .post-author {
  font-style: italic;
  color: #262626;
}

.bloglist-component .post-meta {
  font-size: 18px;
}

.post-component .heading-container,
.categorylist-heading-container {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0,0,0,.25);
}

.post-component .heading-container {
  @include post-header-h1;
}



.post-component .heading-container .post-meta {
  color: rgba(255,255,255, 0.7);
  margin-top: 36px;
  /*color: #7f7f7f;*/
}

.post-component .heading-container .post-author {
  color: #fff;
}

.post-component .heading-container .heading,
.categorylist-heading-container h1 {
  font-size: 44px;
  font-weight: 400;
  line-height: 52px;
}

.post-component .sub-heading,
.categorylist-heading-container h2 {
  font-size: 26px;
  font-weight: 300;
  margin-top: 16px;
}

.post-component .sub-heading {
  @include post-header-h2;
}

.blog-content {
  padding-bottom: 80px;
  font-size: 20px;
  line-height: 26px;
  // font-weight: 300;
  color: #262626;
}

.categories {
  @include post-categories-container;
}

.blog-content blockquote {
  color: #7f7f7f;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  margin-top: 28px;
  margin-bottom: 28px;
}

.blog-content h2 {
  @include blog-h2;
}

figure {
  margin-bottom: 30px;
  margin-top: 30px;
}

figcaption {
	top: 0;
	left: 0;
	padding: 20px;
	background: #7f7f7f;
	color: #fff;
}

.post-component ol li {
  margin-bottom: 10px;
}


.post-component .intro-header > .container {
  padding-top: 20px;
  padding-bottom: 80px;
}

.post-component > .container {
    @include post-container;
}

.button-wrapper.hero {
}

.button-wrapper.hero > .button > span {
  margin: 22px;

}

.button-wrapper.hero .button {
  @include hero-button-white;
}


.button-wrapper.get-in-touch .button {
  @include hero-button-blue;
}

.button-wrapper.get-in-touch {
  margin-top: 100px;
  margin-bottom: 64px;
}

.button-wrapper.get-in-touch > .button > span {
  margin: 22px;

}

.button.get-in-touch::-moz-focus-inner, .button.hero::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.button-wrapper.get-in-touch > .button:hover, .button-wrapper.get-in-touch > .button:active  {
  @include hero-button-white-bg-active;
}

.button-wrapper.hero > .button:hover, .button-wrapper.hero > .button:active  {
  @include hero-button-blue-bg-active;
}

.jumbotron.feature .button-wrapper.hero > .button:hover, .jumbotron.feature .button-wrapper.hero > .button:active  {
  @include hero-button-dark-bg-active;
}

/*.button-wrapper.hero > .button > span:hover, .button-wrapper.hero >.button > span:active {


}*/

/*.featured-container {
 width: 100%;
 height: 600px;
 background-size: cover;
}*/

.jumbotron.home.hero {

  @include linear-gradient($luhublue-opacity-med, $luhublue-opacity-light, $electronics-img);
  @include background-cover;
}

.jumbotron.services.feature {

  background-image:
    linear-gradient(
      rgba(38, 38, 38, 0.6),
      rgba(38, 38, 38, 0.8)
    ),
    url(./img/electronics-chip-cropped.jpg);
    background-size: cover;
    /*height: 930px;*/
    background-repeat: no-repeat;
    background-position: 100% top;
}



/*.jumbotron.services-home.feature {

  background-image:
    linear-gradient(
      rgba(38, 38, 38, 0.6),
      rgba(38, 38, 38, 0.8)
    ),
    url(./img/electronics-chip-cropped.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% top;
}*/

.jumbotron.hubs.feature {

  background-image:
    linear-gradient(
      rgba(38, 38, 38, 0.6),
      rgba(38, 38, 38, 0.8)
    ),
    url(./img/3d-printer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% top;
}

/*.featured > .header {
    padding: 30px 0;
}

.featured > .header > .title-container {
  margin: 0 30px;
}

.featured h2 {
  margin: 0px;
  font-size: 36px;
  line-height: 44px;
}*/

.jumbotron.get-in-touch .profile {
  margin: 0;
  color: #262626;
  padding-top: 25px;
}

.profile .rounded-circle {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  /*box-shadow: 0 8px 18px rgba(0,0,0,0.22), 0 6px 14px rgba(0,0,0,0.18);*/

}



.container.marketing  {
  margin-top: 20px;
}

/*.services-nav-component {
  display:flex;
  justify-content: center;
}

.services-nav-component ul {
  display: flex;
  flex-flow: column;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}*/

/*.services-nav-component li {
  padding-left: 6px;
  text-transform: uppercase;

}*/

.back-container {
  padding: 16px 20px;
  color: #fff;
  left: 5vw;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 200;
}

.back-container h2 {
  @include back-to-home-text;
}

.back-link {
  color: #fff;
}

.back-link-wrapper {
  display: flex;
  align-items: center;
}

.back-link:hover, .back-link:focus {
  text-decoration: none;
  color: rgba(34, 76, 255, 1);
}

.back-container h4 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 200;
  margin: 0;
}

.back-container span {
  margin: 0 18px;
  font-size: 40px;
}

.jumbotron .service-list-item h2 {
  position: absolute;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #fff;
  padding: 0 12px;
  text-shadow: 1px 1px 2px rgba(0,0,0,.25);
  z-index: 3;
  display: flex;
  margin-top: 0;
  margin-bottom: 18px;
  text-decoration: none;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;

}

.image-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-list-item:hover,
.service-list-item:focus {
   background: transparent;
   color: #fff;

}

.overlay {
  position: relative;
}

.overlay:before {
  border-radius: 50%;
  z-index: 3;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image:
    linear-gradient(
      rgba(34, 76, 255, 0.6),
      rgba(34, 76, 255, 0.8)
    );

}

.overlay:hover:before,
.overlay:focus:before {
  background-image:
    linear-gradient(
      rgba(38, 38, 38, 0.6),
      rgba(38, 38, 38, 0.8)
    );

    z-index:3;
}

.overlay:hover > .image-wrapper > h2,
.overlay:focus > .image-wrapper > h2 {
    font-weight: 600;
}



.service-list-item-image {
  position: absolute;
  z-index: 2;
  left: 0;


}

.service-listing {
  margin-bottom: 40px;
  height: 200px;
}

.service-listing-subheading {
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0,0,0,.25);
  margin-top: 10px;
}

.rounded-circle {
  border-radius: 50%;
}

.service-listing {
  display: flex;
  justify-content: space-around;
}

.service-listing .rounded-circle  {
  height: 200px;
  width: 200px;

}

.jumbotron.services-home .heading-container {
  @include services-heading-container;
}

/*.view-details {

  text-decoration: none;
  text-transform: uppercase;

}*/

.service-listing-subheading:hover, .service-listing-subheading:focus {
  color: #224cff;
  text-decoration: none;
}

.services-list-component {
  margin: 20px 1.5vw;

}


.services-nav-component a {
  color: #7f7f7f;
  text-decoration: none;
}

.services-nav-component a:hover, .services-nav-component a:active {
  color: #224cff;
}

.services-icon {
  padding: 20px;
  padding-right: 40px;
  margin: 0 auto;
  font-size: 64px;
  color: #fff;
}

.services-header-component {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  margin-bottom: 80px;
}

.services-selected-header-component {
  display: flex;
  flex-flow: row wrap;

}

.services-heading-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.services-heading-container h1 {
  margin: 0;
  padding: 10px 0;
  font-size: 20px;
  color: #262626;
  line-height: 26px;
}

.selected-service {
  color: #224cff;
}

.bloglist-component .intro-header {
  background-image:
    linear-gradient(
      rgba(38, 38, 38, 0.6),
      rgba(38, 38, 38, 0.8)
    ),
    url(./img/electronics-chip-cropped.jpg);
    background-size: cover;
    /*height: auto;*/
    background-repeat: no-repeat;
    background-position: 100% top;
}

.page-container {
  padding-bottom: 86px;
}

.panel {
  border: none;
  text-align: center;
  background-color: rgba(255,43,43,0.8);
}

.panel p {
  padding: 4px;
  margin: 0;
  color: #fff;
}

.input-block {
    border: 2px solid #dadada;
    border-radius: 7px;
}

.has-error {
    outline: none;
    border-color: #FF2B2B;
    box-shadow: 0 0 10px #FF2B2B;
}

.contact-wrap {
  padding: 0;
  margin: 0;
}

.contact-form .input-block {
  background-color: rgba(255, 255, 255, 0.8);
  /*border: solid 1px #FF512F;*/
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  width: 100%;
  height: 60px;
  padding: 25px;
  position: relative;
  margin-bottom: 20px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -ms-webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/*
.input-block.focus {
  background-color: #fff;
  border: solid 1px #224cff;
}*/
.contact-form .input-block.textarea {
  height: auto;
}
.contact-form .input-block.textarea .form-control {
  height: auto;
  resize: none;
}

.contact-form .input-block .form-control {
  background-color: transparent;
  border: none;
  top: -15px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: auto;
  position: relative;
  z-index: 2;
  font-size: 18px;
  color: #262626;
}

.contact-form .square-button {
  background-color: rgba(255, 255, 255, 0.8);
  color: #7f7f7f;
  font-size: 18px;
  text-align: center;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0 60px;
  height: 60px;
  border: none;
  width: 100%;
}
.contact-form .square-button:hover, .contact-form .square-button:focus {
  color: #262626;
  background-color: rgba(255,255,255, 0.85);
}

/*.contact-form .input-block label {
  left: 25px;
  top: 25px;
  display: block;
  margin-bottom: 20px;
  z-index: 1;
  color: #262626;
  font-size: 18px;
  line-height: 10px;
}*/

.connect-form-container, .connect-other-container {
  padding-top: 10px;
}

.connect-container .heading, .connect-container .sub-heading  {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  padding: 6px 0;
}

.connect-container .heading {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  line-height: 48px;
}

.connect-container .sub-heading {
  font-size: 60px;
  line-height: 32px;
}

.connect-container .heading-container {
  padding: 40px 0;
}

.connect-container {
  background-image:
    linear-gradient(
      rgba(34, 76, 255, 0.6),
      rgba(34, 76, 255, 0.8)
    ),
    url(./img/electronics-chip-cropped.jpg);
    background-size: cover;
    height: 900px;
    background-repeat: no-repeat;
    background-position: 100% top;
    padding-bottom: 120px;
}



.connect-other-container .social-links ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
  color: #fff;
}

.connect-other-container .social-links ul li {
  padding-bottom: 12px;
}

.connect-other-container .social-links i {
  font-size: 60px;
  color: #fff;
}

.connect-other-container .social-links i:hover, .connect-other-container .social-links i:focus {
  color: rgba(255, 255, 255, 0.6);
}

.connect-other-container .social-links svg {
  padding: 6px 0;
  height: 66px;
  width: 66px;
}

.connect-other-container .social-links .li-hubs-logo {
  padding-bottom: 0;
}

.direct-contact-container ul {
  list-style-type: none;
  padding: 0;
  color: #fff;
}

.direct-contact-container {
  padding-bottom: 20px;
  padding-top: 10px;
}

.direct-contact-container ul li {
  display: flex;
  align-items: center;
  padding: 8px 0;

}

.button-wrapper {
  @include hero-button-text;
}

.direct-contact-container p {
  display: inline;
  font-size: 20px;
  margin-bottom: 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.direct-contact-container ul li span {
  padding-right: 18px;
  font-size: 44px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}


.callout-container svg {
  height: 72px;
  width: 72px;
}

.callout-container .svg-wrapper, .callout-container svg {
  align-items: center;
}



a.svg {
 position: relative;
 display: block;
 width: 100%;
}

a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}
/*.link img {
  height: 36px;
}*/

/*.link > img:hover {
  opacity: 0.6;
}*/

.social-links i, .svg-wrapper #hubs-logo, .svg-wrapper #thingiverse-logo {
  -ms-webkit-transition: all 0.3s linear 0s;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.social-links .svg-wrapper:hover #hubs-logo, .social-links .svg-wrapper:hover #thingiverse-logo,
.social-links .svg-wrapper:focus #hubs-logo, .social-links .svg-wrapper:focus #thingiverse-logo {
  opacity: 0.6;
}

.connect-other-container .social-links .svg-wrapper:hover #hubs-logo, .connect-other-container .social-links .svg-wrapper:hover #thingiverse-logo,
.connect-other-container .social-links .svg-wrapper:focus #hubs-logo, .connect-other-container .social-links .svg-wrapper:focus #thingiverse-logo {
  opacity: 0.6;
}


@media (min-width: 768px) {
  .area {
    width: 750px;
  }
}

@media (min-width: 850px) {
  .area {
    width: 830px;
  }
}

@media (min-width: 992px) {
  .area {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .area {
    width: 1140px;
  }
}

@media (min-width: 769px) {

  .jumbotron.services-home .heading-container {
    color: #262626;
  }

}



@media (max-width: 970px) {
  .direct-contact-container {
    text-align: center;
  }

  .direct-contact-container li {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container ul li span {
    padding-right: 0px;
  }

  .direct-contact-container p {
    padding-top: 10px;
  }

  .connect-other-container .social-links i {
    font-size: 48px;
  }

  .connect-other-container .social-links svg {
    height: 52px;
    width: 52px;
  }

}

@media (min-width: 769px) {

  .contact-wrap {
    width: 85%;
    margin: auto;
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 78px;
  }

  /*.title > .display-3 {
    margin:0px;
    line-height: 40px;
  }

  .title-container > .sub-title > h2 {
    font-size: 24px;
    line-height: 32px;
  }*/


  .divider,
  .bloglist-component .divider {
    margin: 40px 0 32px 0px;
  }

  // .jumbotron.get-in-touch .lead {
  //   font-size: 22px;
  //   margin-bottom: 8px;
  // }

  .button-wrapper.get-in-touch {
    margin-top: 90px;
  }

  // .button-wrapper.get-in-touch > .button {
  //   padding: 20px 14px;
  //   font-size: 28px;
  // }

  .button-wrapper.get-in-touch > .button > span {
    margin: 16px;
  }

  .jumbotron .button-wrapper .button {
    @include hero-button-shared-styles-tablet;

  }

  .button-wrapper.hero > .button > span {
    margin: 16px;
  }

  .jumbotron.feature .lead {
    @include lead-feature-tablet;
  }

  .jumbotron.get-in-touch .lead {
    @include lead-jumbotron-regular-tablet;
  }

  .jumbotron.hero .heading-container {
    @include hero-heading-container-tablet;
  }

  .jumbotron.hero .heading {
    @include hero-h1-tablet;
  }

  .jumbotron.hero .sub-heading {
    @include hero-h2-tablet;
  }

  .skills {
    @include skills-container-tablet;
  }

  .skills li h3 {
    @include skills-h3-tablet;
  }

  // .skills > ul {
  //   padding-top: 32px;
  // }

  .jumbotron.hero .callout-container,
  .jumbotron.feature .callout-container {
    padding-bottom: 100px;

  }

  .jumbotron.get-in-touch .callout-container {
    padding-bottom: 50px;
  }


  .jumbotron.get-in-touch .heading,
  .bloglist-component .heading {
    font-size: 48px;
    line-height: 56px;
  }

  .jumbotron.get-in-touch .sub-heading,
  .bloglist-component .sub-heading {
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 24px;
    line-height: 32px;
  }

  .jumbotron.hubs.feature {
    /*height: 780px;*/
  }

  .jumbotron.services.feature {
    /*height: 880px;*/
  }

  .back-container {
    padding: 15px 18px;
    color: #fff;
    font-size: 16px;
  }

  .back-container h2 {
    font-size: 20px;
    line-height: 24px;
  }

  .back-container h4 {
    font-size: 16px;
  }

  /*.back-container span {
    margin: 0 12px;
  }*/

  .contact-wrap {
    width: 80%;
    margin: auto;
  }


  .connect-container .heading {
    font-size: 32px;
    line-height: 36px;
  }

  .connect-container .sub-heading {
    font-size: 48px;
    line-height: 54px;
  }

  .connect-container .heading-container {
    padding: 30px 0;
  }

  .profile .rounded-circle {
    height: 240px;
    width: 240px;
    border-radius: 50%;


  }

  .get-in-touch .spacer {
    margin-bottom: 15px;
  }

  .bloglist-component .divider > hr {
    width: 18%;
  }

  .back-container span {
    font-size: 30px;
    margin: 0 12px;
  }

  .post-component .heading-container .heading,
  .categorylist-heading-container h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .post-component .sub-heading,
  .categorylist-heading-container h2 {
    font-size: 20px;
    margin-top: 14px;
    line-height: 24px;
  }

  .post-component > .container {
    @include post-container-tablet;
  }




  .blog-content {
    padding-bottom: 60px;
    font-size: 18px;
    line-height: 24px;
  }

  .categories {
    @include post-categories-container-tablet;
  }

  .blog-content blockquote {
    font-size: 18px;
  }

  .blog-content p {
      @include lead-default-tablet;
  }

  .post-component .post-meta {
    font-size: 16px;
  }

  .bloglist-component .post-meta {
    font-size: 14px;
    margin-top: 18px;
  }

  .bloglist-component .post-title {
    font-size: 26px;
    line-height: 36px;
  }

  .bloglist-component .post-subtitle {
    font-size: 16px;
  }

  .post-component .intro-header > .container {
    padding-top: 16px;
    padding-bottom: 48px;
  }



  .blog-content h2 {
    @include blog-h2-tablet;
  }



}

@media (max-width: 767px) {
  .connect-other-container .social-links {
    display: none;
  }

  .connect-container {
  height: 1240px;
  }

  .direct-contact-container {
    margin-top: 100px;
  }

}




@media (max-width: 414px) {
  body {
    padding-top: 64px;
  }

  .divider,
  .bloglist-component .divider {
    margin: 32px 0 28px 0;
  }

  .divider > hr {
    height: 4px;
  }

  .bloglist-component .divider > hr {
    width: 25%;
  }

  // .jumbotron.get-in-touch .lead {
  //   font-size: 18px;
  //   margin-bottom: 8px;
  // }

  // .jumbotron .container .lead {
  //   font-size: 18px;
  // }

  // .button-wrapper.get-in-touch > .button {
  //   padding: 18px 12px;
  //   font-size: 24px;
  // }

  .button-wrapper.get-in-touch {
    margin-top: 68px;
  }

  .button-wrapper.get-in-touch > .button > span {
    margin: 14px;
  }

  .jumbotron .button-wrapper .button {
    @include hero-button-shared-styles-mobile;
  }

  .jumbotron.hero .heading-container {
    @include hero-heading-container-mobile;
  }

  .jumbotron.get-in-touch .heading-container,
  .bloglist-component .heading-container {
    padding-top: 32px;
    margin: 0 auto;
  }

  .jumbotron.get-in-touch .heading,
  .bloglist-component .heading {
    font-size: 36px;
    line-height: 40px;
  }

  // .jumbotron .heading {
  //   font-size: 36px;
  //   line-height: 40px;
  // }
  //
  // .jumbotron .sub-heading {
  //   padding: 12px 0;
  //   font-size: 18px;
  //   line-height: 24px;
  // }

  .jumbotron.get-in-touch .container {
    width:85%;
    margin: 0 auto;
    color: #262626;
  }




  .button-wrapper.hero > .button > span {
    margin: 12px;
  }

  .jumbotron.hero .heading {
    @include hero-h1-mobile;
  }

  .jumbotron.hero .sub-heading {
    @include hero-h2-mobile;
  }



  .jumbotron.hero .callout-container,
  .jumbotron.feature .callout-container {
    padding-top: 70px;
    padding-bottom: 80px;

  }

  .jumbotron.get-in-touch .callout-container {
    padding-top: 0px;
    padding-bottom: 20px;
  }

  .contact-wrap {
    width: 95%;
    margin: auto;
  }


  .connect-container .heading {
    font-size: 28px;
    line-height: 30px;
  }

  .connect-container .sub-heading {
    font-size: 36px;
    line-height: 40px;
  }

  .jumbotron.hubs.feature {
    /*height: 830px;*/
  }

  .back-container {
    padding: 12px 18px;
    color: #fff;
    font-size: 16px;
  }

  .skills  {
    @include skills-container-mobile;
  }

  .skills li h3 {
    @include skills-h3-mobile;
  }

  .jumbotron .lead {
    @include lead-default-mobile;
  }

  .back-container h2 {
    font-size: 18px;
    line-height: 24px;
  }

  .back-container h4 {
    font-size: 16px;
  }

  .back-container span {
    margin: 0 10px;
    font-size: 24px;
  }

  .profile .rounded-circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;

  }

}
