@import 'partials/base';
@import 'bootstrap-ms.css';


html {
    height: 100%;
    margin: 0;
}

body {
  position: relative;
  min-height: 100%;
  padding-top: 124px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 100;
  -ms-webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #244cff;
  @include single-transition-3;

}

a:hover, a:focus, a:active {
  color: rgba(34, 76, 255, 0.7);
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.jumbotron {
  position: relative;
  background-color: $white;
  margin: 0 auto;
  padding-top: 0;
}

.jumbotron.hero .heading-container {
  @include hero-heading-container;
}

.white-bg .spacer {
  margin-bottom: 25px;
}

.jumbotron .lead {
  @include lead-default;
}

.jumbotron.white-bg .lead {
  @include lead-jumbotron-regular;
}

.jumbotron.white-bg {
  color: $darkgrey;
}

.jumbotron.white-bg .heading {
  @include jumbo-content-h2;
}

.jumbotron.white-bg .sub-heading {
  @include jumbo-content-h3;
}

.hero .divider hr {
  background-color: $white;
  box-shadow: 1px 1px 2px rgba(0,0,0,.3);
  width: 130px;
}


.jumbotron.feature .lead {
  @include lead-feature;
}

.jumbotron.service-detail .lead {
  @include lead-feature;
}


.jumbotron.hero .heading {
  @include hero-h1;
}

.jumbotron.hero .sub-heading {
  @include hero-h2;
}

.jumbotron.hero .callout-container .callout {
  width: 80%;
  margin: 0 auto;
}

.jumbotron.hero {
  @include hero-container;
}

.jumbotron.hero .callout-container,
.jumbotron.feature .callout-container {
  padding-top: 100px;
  padding-bottom: 80px;
}

.jumbotron.white-bg .container {
  padding-bottom: 20px;
  width: 80%;

}

.skills {
  @include skills-container;
}

.skills > ul {
  list-style-type: none;
  align-items: center;
  padding: 0;
}

.skills li {
  justify-content: center;
  padding: 0 14px;
}



.skills li:nth-child(3n+1) {
  clear: left;
}

.skills li h3 {
  @include skills-h3;
}

.divider {
  vertical-align: middle;
  margin: 48px 0 40px 0;
}

.divider > hr {
  margin: 0 auto;
  height: 6px;
  background-color: $luhublue;
  width: 30%;
  border-top: none;

}

.services-content-container {
  @include services-content-container;
}

.blog-content p {
  @include lead-default;
}

.jumbotron.hero .heading-container {
  @include hero-heading-container;
}

.jumbotron.white-bg .container {
  margin: 0 auto;
  color: $darkgrey;
  padding-top: 62px;
}


.jumbotron .container {
  text-align: center;
}

.jumbotron.bloglist-component .container {
  text-align: left;
}

.callout-container > .callout {
  text-align: center;
}

.callout > .lead {
  margin-top: 32px;
}

.post-list-view .list-container a {
  color: $darkgrey;
  @include single-transition-3;
}

.post-list-view .list-container a:hover,
.post-list-view .list-container a:focus {
  color: $luhublue-opacity-med;
}

.post-list-view .list-container {
  padding-top: 18px;
}

.post-list-view .post-title {
  @include post-listing-title;
}

.post-list-view .post-subtitle {
  @include post-listing-subtitle;
}

.post-list-view .list-container .post-meta {
  font-family: $saira-condensed;
  font-weight: 300;
  letter-spacing: 2px;
}

.post-meta {
  font-size: 20px;
  color: $lightgrey;
  margin-top: 24px;
  font-weight: 300;
}

.post-meta .post-author {
  font-style: italic;
  color: $darkgrey;
}

.post-component .heading-container,
.categorylist-heading-container {
  color: $white;
  text-shadow: $textshadow-black-med;
}

.post-component .heading-container h1{
  @include post-header-h1;
}

.post-component .heading-container .post-meta {
  color: rgba(255,255,255, 0.7);
  margin-top: 36px;
}

.post-component .heading-container .post-author {
  color: $white;
}

.post-component .heading-container .heading,
.categorylist-heading-container h1 {
  font-size: 44px;
  font-weight: 400;
  line-height: 52px;
}

.post-component .sub-heading,
.categorylist-heading-container h2 {
  font-size: 26px;
  font-weight: 300;
  margin-top: 16px;
}

.post-component .sub-heading {
  @include post-header-h2;
}

.blog-content {
  padding-bottom: 80px;
  font-size: 20px;
  line-height: 26px;
  color: $darkgrey;
}

.categories {
  @include post-categories-container;
}

.blog-content blockquote {
  color: $lightgrey;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  margin-top: 28px;
  margin-bottom: 28px;
}

.blog-content h2 {
  @include blog-h2;
}

figure {
  margin-bottom: 30px;
  margin-top: 30px;
}

figcaption {
  @include lead-default;
	top: 0;
	left: 0;
	padding: 20px;
  font-size: 16px;
  line-height: 24px;
	background: $lightgrey;
	color: $white;
}

.post-component ul,
.post-component ol {
  @include lead-default;
}

.post-component ol li {
  margin-bottom: 10px;
  color: $darkgrey;
}

.post-component ul li {
  color: $darkgrey;
}


.post-component .intro-header > .container {
  @include post-heading-container;
}

.post-component > .container {
    @include post-container;
}

.button-wrapper.hero {
}

.button-wrapper.hero > .button > span {
  margin: 22px;

}

.button-wrapper.hero .button {
  @include hero-button-white;
}


.button-wrapper.white-bg .button {
  @include hero-button-blue;
}

.button-wrapper.white-bg {
  margin-top: 100px;
  margin-bottom: 64px;
}

.button-wrapper.white-bg > .button > span {
  margin: 22px;

}

.button.white-bg::-moz-focus-inner, .button.hero::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.connect-container .sub-heading.link a {
  color: $white;
}

.connect-container .sub-heading.link a:hover,
.connect-container .sub-heading.link a:hover {
  text-decoration: underline;
}

.jumbotron.home.hero {

  background-image:
    linear-gradient(
      $luhublue-opacity-med,
      $luhublue-opacity-light
    ),
    url(./img/engineer-desk.jpg);
  @include background-cover;
}

.jumbotron.hubs.feature {

  background-image:
    linear-gradient(
      rgba(38, 38, 38, 0.6),
      rgba(38, 38, 38, 0.8)
    ),
    url(./img/3d-printer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% top;
}

.jumbotron.services-home {

  background-image:
    linear-gradient(
      rgba(38, 38, 38, 0.6),
      rgba(38, 38, 38, 0.8)
    ),
    url(./img/engineer-desk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% top;
}

.jumbotron.white-bg .profile {
  margin: 0;
  color: #262626;
  padding-top: 25px;
}

.profile .rounded-circle {
  height: 400px;
  width: 400px;
  border-radius: 50%;
}



.container.marketing  {
  margin-top: 20px;
}

.back-container {
  padding: 16px 20px;
  color: #fff;
  left: 5vw;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 200;
}

.back-container h2 {
  @include back-to-home-text;
}

.back-link {
  color: #fff;
}

.back-link-wrapper {
  display: flex;
  align-items: center;
}

.back-link:hover, .back-link:focus {
  text-decoration: none;
  color: rgba(34, 76, 255, 1);
}

.back-container h4 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 200;
  margin: 0;
}

.back-container span {
  margin: 0 18px;
  font-size: 40px;
}

.service-list-view .service-list-item h2 {
  @include service-list-h2;

}

.image-wrapper {
  position: relative;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-list-item {
  width: 100%;
}

.service-list-item:hover,
.service-list-item:focus {
   background: transparent;
   color: #fff;
}

.overlay {
  position: relative;
}

.overlay:before {
  z-index: 3;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image:
    linear-gradient(
      rgba(38, 38, 38, 0.4),
      rgba(38, 38, 38, 0.6)
    );
}

.overlay:hover:before,
.overlay:focus:before {
  background-image:
    linear-gradient(
      rgba(34, 76, 255, 0.6),
      rgba(34, 76, 255, 0.8)
    );
    z-index:3;
}

.overlay:hover > .image-wrapper > h2,
.overlay:focus > .image-wrapper > h2 {
    @include service-list-h2-active
}

.service-list-item-image {
  position: absolute;
  z-index: 2;
  left: 0;
}

.service-listing {
  @include background-contain;
  padding: 0;
}

.rounded-circle {
  border-radius: 50%;
}

.service-list-item-image {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.service-listing-subheading:hover, .service-listing-subheading:focus {
  color: #224cff;
  text-decoration: none;
}

.services-list-component {
  margin-bottom: 0px;
}

.services-nav-component a {
  color: #7f7f7f;
  text-decoration: none;
}

.services-nav-component a:hover, .services-nav-component a:active {
  color: #224cff;
}

.services-icon {
  padding: 20px;
  padding-right: 40px;
  margin: 0 auto;
  font-size: 64px;
  color: #fff;
}

.services-header-component {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  margin-bottom: 80px;
}

.services-selected-header-component {
  display: flex;
  flex-flow: row wrap;

}

.services-heading-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.services-heading-container h1 {
  margin: 0;
  padding: 10px 0;
  font-size: 20px;
  color: #262626;
  line-height: 26px;
}

.selected-service {
  color: #224cff;
}

.jumbotron.bloglist-component {
  background-image:
    linear-gradient(
      rgba(38, 38, 38, 0.6),
      rgba(38, 38, 38, 0.8)
    ),
    url(./img/engineer-desk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% top;
}

.jumbotron.hero.about {
  background-image:
    linear-gradient(
      rgba(38, 38, 38, 0.6),
      rgba(38, 38, 38, 0.8)
    ),
    url(./img/denver-city.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% top;
}

.page-container {
  padding-bottom: 86px;
}

.panel {
  border: none;
  text-align: center;
  background-color: rgba(255,43,43,0.8);
}

.panel p {
  padding: 2px;
  margin: 0;
  color: $white;
  font-size: 12px;
}

.input-block {
    border: 2px solid #dadada;
    border-radius: 7px;
}

.has-error {
    outline: none;
    border-color: #FF2B2B;
    box-shadow: 0 0 10px #FF2B2B;
}

.contact-wrap {
  padding: 0;
  margin: 0;
}

.contact-form .panel,
.contact-form input,
.contact-form button,
.contact-form textarea {
  @include lead-form-textarea;
}

.contact-form .input-block {
  background-color: rgba(255, 255, 255, 0.8);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  width: 100%;
  height: 60px;
  padding: 25px;
  position: relative;
  margin-bottom: 20px;
  @include single-transition-3;
}

.contact-form .input-block.textarea {
  height: auto;
}
.contact-form .input-block.textarea .form-control {
  height: auto;
  resize: none;
}

.contact-form .input-block .form-control {
  background-color: transparent;
  border: none;
  top: -15px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: auto;
  position: relative;
  z-index: 2;
  font-size: 18px;
  color: #262626;
}

.contact-form .square-button {
  background-color: rgba(255, 255, 255, 0.8);
  color: #7f7f7f;
  font-size: 18px;
  text-align: center;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0 60px;
  height: 60px;
  border: none;
  width: 100%;
}
.contact-form .square-button:hover, .contact-form .square-button:focus {
  color: #262626;
  background-color: rgba(255,255,255, 0.85);
}

.connect-form-container, .connect-other-container {
  padding-top: 10px;
}

.connect-container .heading {
  @include connect-h1;
}

.connect-container .sub-heading {
  @include connect-h2;
}

.connect-container .heading-container {
  @include connect-heading-container;
}

.connect-container {
  background-image:
    linear-gradient(
      rgba(34, 76, 255, 0.6),
      rgba(34, 76, 255, 0.8)
    ),
    url(./img/engineer-desk.jpg);
    background-size: cover;
    height: 900px;
    background-repeat: no-repeat;
    background-position: 100% top;
    padding-bottom: 120px;
}



.connect-other-container .social-links ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
  color: #fff;
}

.connect-other-container .social-links ul li {
  padding-bottom: 12px;
}

.connect-other-container .social-links i {
  font-size: 60px;
  color: #fff;
}

.connect-other-container .social-links i:hover, .connect-other-container .social-links i:focus {
  color: rgba(255, 255, 255, 0.6);
}

.connect-other-container .social-links svg {
  padding: 6px 0;
  height: 66px;
  width: 66px;
}

.connect-other-container .social-links .li-hubs-logo {
  padding-bottom: 0;
}

.direct-contact-container ul {
  list-style-type: none;
  padding: 0;
  color: #fff;
}

.direct-contact-container {
  padding-bottom: 20px;
  padding-top: 10px;
}

.direct-contact-container ul li {
  display: flex;
  align-items: center;
  padding: 8px 0;

}

.button-wrapper {
  @include hero-button-text;
}

.direct-contact-container p {
  @include lead-direct-contact;
  @include single-transition-3;
}

.direct-contact-container ul li span {
  padding-right: 18px;
  font-size: 44px;
  @include single-transition-3;
}


.callout-container svg {
  height: 72px;
  width: 72px;
}

.callout-container .svg-wrapper, .callout-container svg {
  align-items: center;
}



a.svg {
 position: relative;
 display: block;
 width: 100%;
}

a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}

.button-wrapper > .white-bg.button:hover, .button-wrapper > .white-bg.button:active  {
  @include hero-button-white-bg-active;
}

.button-wrapper > .blue-bg.button:hover, .button-wrapper > .blue-bg.button:active  {
  @include hero-button-blue-bg-active;
}

.button-wrapper > .dark-bg.button:hover, .button-wrapper > .dark-bg.button:active  {
  @include hero-button-dark-bg-active;
}

.social-links i, .svg-wrapper #hubs-logo, .svg-wrapper #thingiverse-logo {
  -ms-webkit-transition: all 0.3s linear 0s;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.social-links .svg-wrapper:hover #hubs-logo, .social-links .svg-wrapper:hover #thingiverse-logo,
.social-links .svg-wrapper:focus #hubs-logo, .social-links .svg-wrapper:focus #thingiverse-logo {
  opacity: 0.6;
}

.connect-other-container .social-links .svg-wrapper:hover #hubs-logo, .connect-other-container .social-links .svg-wrapper:hover #thingiverse-logo,
.connect-other-container .social-links .svg-wrapper:focus #hubs-logo, .connect-other-container .social-links .svg-wrapper:focus #thingiverse-logo {
  opacity: 0.6;
}


@media (min-width: 768px) {
  .area {
    width: 750px;
  }
}

@media (min-width: 850px) {
  .area {
    width: 830px;
  }
}

@media (min-width: 992px) {
  .area {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .area {
    width: 1140px;
  }
}

@media (max-width: 970px) {
  .direct-contact-container {
    text-align: center;
  }

  .direct-contact-container li {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container ul li span {
    padding-right: 0px;
  }

  .direct-contact-container p {
    padding-top: 10px;
  }

  .connect-other-container .social-links i {
    font-size: 48px;
  }

  .connect-other-container .social-links svg {
    height: 52px;
    width: 52px;
  }

}

@media (min-width: 769px) {

  .contact-wrap {
    width: 85%;
    margin: auto;
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 78px;
  }

  .divider,
  .hero .divider {
    margin: 40px 0 32px 0px;
  }

  .button-.white-bg {
    margin-top: 90px;
  }

  .button-wrapper.white-bg > .button > span {
    margin: 16px;
  }

  .jumbotron .button-wrapper .button {
    @include hero-button-shared-styles-tablet;

  }

  .button-wrapper.hero > .button > span {
    margin: 16px;
  }

  .jumbotron.feature .lead {
    @include lead-feature-tablet;
  }

  .jumbotron.white-bg .lead {
    @include lead-jumbotron-regular-tablet;
  }

  .jumbotron.hero .heading-container {
    @include hero-heading-container-tablet;
  }

  .jumbotron.hero .heading {
    @include hero-h1-tablet;
  }

  .jumbotron.hero .sub-heading {
    @include hero-h2-tablet;
  }

  .skills {
    @include skills-container-tablet;
  }

  .skills li h3 {
    @include skills-h3-tablet;
  }

  .services-content-container {
    @include services-content-container-tablet;
  }

  .jumbotron.service-detail .lead {
    @include lead-feature-tablet;
  }

  .jumbotron.hero .callout-container,
  .jumbotron.feature .callout-container {
    padding-bottom: 100px;

  }

  .jumbotron.white-bg .heading {
    @include jumbo-content-h2-tablet;
  }

  .jumbotron.white-bg .sub-heading {
    @include jumbo-content-h3-tablet;
  }

  .back-container {
    padding: 15px 18px;
    color: #fff;
    font-size: 16px;
  }

  .back-container h2 {
    @include back-to-home-text-tablet;
  }

  .back-container h4 {
    font-size: 16px;
  }

  .contact-wrap {
    width: 80%;
    margin: auto;
  }

  .connect-container .heading {
    @include connect-h1-tablet;
  }

  .connect-container .sub-heading {
    @include connect-h2-tablet;
  }

  .connect-container .heading-container {
    @include connect-heading-container-tablet;
  }

  .post-component .intro-header > .container {
    @include post-heading-container-tablet;
  }

  .post-component ul,
  .post-component ul {
    @include lead-default-tablet;
  }

  .profile .rounded-circle {
    height: 240px;
    width: 240px;
    border-radius: 50%;
  }

  .white-bg .spacer {
    margin-bottom: 15px;
  }

  .hero .divider > hr {
    width: 18%;
  }

  .back-container span {
    font-size: 30px;
    margin: 0 12px;
  }

  .post-component .heading-container .heading,
  .categorylist-heading-container h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .post-component .sub-heading,
  .categorylist-heading-container h2 {
    font-size: 20px;
    margin-top: 14px;
    line-height: 24px;
  }

  .post-component > .container {
    @include post-container-tablet;
  }

  .blog-content {
    padding-bottom: 60px;
    font-size: 18px;
    line-height: 24px;
  }

  .categories {
    @include post-categories-container-tablet;
  }

  .blog-content blockquote {
    font-size: 18px;
  }

  .blog-content p {
      @include lead-default-tablet;
  }
  .post-component .post-meta {
    font-size: 16px;
  }

  .post-list-view .post-meta {
    font-size: 14px;
    margin-top: 18px;
  }

  .post-list-view .post-title {
    font-size: 26px;
    line-height: 36px;
  }

  .post-list-view .post-subtitle {
    font-size: 16px;
  }

  .post-list-view .list-container {
    padding-top: 0px;
  }

  .jumbotron .intro-header > .container {
    padding-top: 16px;
    padding-bottom: 48px;
  }

  .blog-content h2 {
    @include blog-h2-tablet;
  }

}

@media (max-width: 767px) {
  .connect-other-container .social-links {
    display: none;
  }

  .connect-container {
  height: 1240px;
  }

  .direct-contact-container {
    margin-top: 100px;
  }

}

@media (max-width: 414px) {
  body {
    padding-top: 64px;
  }

  .divider,
  .hero .divider {
    margin: 32px 0 28px 0;
  }

  .divider > hr {
    height: 4px;
  }

  .button-wrapper.white-bg {
    margin-top: 68px;
  }

  .button-wrapper.white-bg > .button > span {
    margin: 14px;
  }

  .jumbotron .button-wrapper .button {
    @include hero-button-shared-styles-mobile;
  }

  .jumbotron.hero .heading-container {
    @include hero-heading-container-mobile;
  }

  .jumbotron.white-bg .container {
    width:85%;
    margin: 0 auto;
  }


  .services-content-container {
    @include services-content-container-mobile;
  }

  .button-wrapper.hero > .button > span {
    margin: 12px;
  }

  .jumbotron.hero .heading {
    @include hero-h1-mobile;
  }

  .jumbotron.hero .sub-heading {
    @include hero-h2-mobile;
  }

  .jumbotron.hero .callout-container,
  .jumbotron.feature .callout-container {
    padding-top: 70px;
    padding-bottom: 80px;
  }

  .jumbotron.white-bg .callout-container {
    padding-top: 0px;
    padding-bottom: 20px;
  }

  .contact-wrap {
    width: 95%;
    margin: auto;
  }

  .connect-container .heading {
    @include connect-h1-mobile;
  }

  .connect-container .sub-heading {
    @include connect-h2-mobile;
  }

  .connect-container .heading-container {
    @include connect-heading-container-mobile;
  }

  .back-container {
    padding: 12px 18px;
    color: #fff;
    font-size: 16px;
  }

  .skills  {
    @include skills-container-mobile;
  }

  .skills li h3 {
    @include skills-h3-mobile;
  }

  .jumbotron .lead {
    @include lead-default-mobile;
  }

  .back-container h2 {
    @include back-to-home-text-mobile;
  }

  .back-container h4 {
    font-size: 16px;
  }

  .back-container span {
    margin: 0 10px;
    font-size: 24px;
  }

  .profile .rounded-circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }

}
